# OSX
#
.DS_Store

# Android/IntelliJ
#
build/*
app/build/generated/*
app/build/intermediates/*
app/build/tmp/*
app/build/outputs/logs/*
app/build/outputs/native-debug-symbols/*
app/build/outputs/sdk-dependencies/*
app/build/outputs/apk/**/*.json
app/build/outputs/apk/**/*-debug*
.idea
.gradle
local.properties
*.iml
*.hprof

# Bundle artifacts
*.jsbundle
